* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #E7E7E7;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;

    h1 {
        font-size: 40px;
        font-weight: bold;
        font-style: normal;
    }
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;

    input {
        background-color: #fff;
        font-size: 18px;
        border: none;
        border-bottom: 2px solid #000;
        padding: 8px;
    }

    button {
        background-color: #009432;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        border: none;
        padding: 8px;
        cursor: pointer;
    }
}

table {
    width: 100%;

    th {
        border-bottom: 2px solid #000;
        padding: 16px;
        font-size: 24;
        font-weight: bold;
    }

    td {
        text-align: center;
        font-size: 18px;
        padding: 16px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}